*{
    margin: 0;
    font-family: 'AmpleSoft';
    text-align: center;
    box-sizing: border-box;
}

@font-face{
    font-family: 'AmpleSoft';
    src: url('AmpleSoft.otf');
}
.nav{
    background-color: #23e18c;
}

nav, footer{
    text-align: center;
    height:10vh;
    background-color: #23e18c;
    color:#003C3C;
   

}
.legal {
    margin-top: 30px;
}

.simulate {
    border: none;
    color: #003c3c;
    background-color: #b5ff00;
    height: 35px;
    border-radius: 30px;
    width: 20vw;
    font-size: 20px;
    margin-bottom: 5px;
  
 }
 main{
     min-height: 80vh;
 }



h1 {
    padding-top: 5vh;
    font-size: 25px;
}




.logo-img{
    width: 200px;
}

@media screen and (max-width: 500px) {
    .logo-img{
        width: 150px;
    }

    h1{
        font-size: 20px;
    }

    .car {
        height: 250px;
        width: auto;
    }

    .simulate {
        height: 10vh;
        border-radius: 10px;
        width: 30vw;
         font-size: 20px;
     }

     .value-input {
       
        width: 70vw;
    }
    
}
